
<h2>About this site</h2>

<p>We believe:</p>

<ul>
	<li>Language needs to be practiced</li>
	<li>The more weird your example the more memorable (please use the <i>explicit</i> checkbox where appropriate</li>
	<li>You should be able to study a small chuck at a time and that the time to get started learning should be as short as possible</li>
	<li>Comments are great but stiff tends to get lost in here. Our articles have people pulling content from the comments to update the pages all the time</li>
	<li>Reps are really effective, especially using them in slightly different ways</li>
	<li>All sentences should be anonymous so you won't feel embarrased to make mistakes</li>
	<li>Mistakes are at the core of learning. We count how many mistakes you make and if you don't make enough mistakes, it's time to move up.</li>
	<li>Words are good to know but sentences are the key to true learning. How to use the words is essential.</li>
</ul>

<ul>
	<li>Different layouts for each different language to express the culture of the language</li>
</ul>

<h3>Notes to self</h3>

<ul>
	<li>Make the sentences sort by most points</li>
	<li>Only people who view the entire site in Japanese can mark sentences??</li>
	<li>Remember to link the related sentences in eventually</li>
	<li>Process Markdown in the notes</li>
	<li>Work out how marking will work - def a controller. How do I record edits?</li>
	<li>A massive version list of all corrected versions.</li>
	<li>Have a suggested order of learning</li>
	<li>Have a all-sentence search.</li>
	<li></li>
</ul>

<ul>
	<li>How to run the quiz?</li>
	<li>I want to ask the user a question of how to write something and then they can see some hints of words they can use. After, they can see their mistakes and submit it to the site to be checked.</li>
</ul>